.places__text-url {
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

@media screen and (max-width: 1023px) {
  .places__text-url {
    line-height: 12px;
  }
}