.header__lang-container {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

@media screen and (max-width: 767px) {
  .header__lang-container {
    font-size: 18px;
    line-height: 20px;
  }
}
