.lead__subtitle {
  max-width: 640px;

  margin: 0;
  padding: 0;
  margin-bottom: 64px;

  text-align: center;

  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

@media screen and (max-width: 1200px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    margin-bottom: 40px;
  }
}
