.photo {
  padding: 92px 48px 0 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .photo {
    padding: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .photo {
    padding: 64px 16px 0 16px;
  }
}
